*,
*::before,
*::after {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  min-width: 700px;
}

.disable-pointer-events {
  pointer-events: none;
}

